.hiden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #fff;
    color: #434455;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    cursor: pointer;
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
} 
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-adr-list, 
.header-nav-list {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.logo-color { 
    color: #2e2f42;
}

.burger-btn {
padding: 0;
border: none;
background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .header-nav-list {
            display: flex;
            align-items: center;
            gap: 40px;
        }

     .header-adr {
            font-style: normal;
           display: block;
        }
     .header-adr-list {
            display: flex;
            flex-direction: column;
            gap: 12px;
            }

    .header-nav {
            display: flex;
            align-items: center;
        }

     .header-logo {
            padding: 24px 0;
             margin-right: 120px;
           }
     .header-adr-list-link {

                       font-size: 12px;
                       line-height: 1.17;
                       letter-spacing: 0.02em;
                       color: #434455;
                       display: block;
                       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                   }
        
     .header-nav-list-item-link.current {
                       position: relative;
                   }
        
    .header-nav-list-item-link.current::after {
                       content: "";
                       position: absolute;
                       left: 0;
                       bottom: -1px;
                       width: 100%;
                       height: 4px;
                       border-radius: 2px;
                       background-color: #404bbf;
                   }
        
    .header-adr-list-link:hover,
    .header-adr-list-link:focus,
    .header-nav-list-item-link.current {
                       color: #404bbf;
                   }
     .header-nav-list-item-link:hover,
    .header-nav-list-item-link:focus {
                                       color: #404bbf;
                                   }
  .header-nav-list-item-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #2e2f42;
      display: block;
      padding: 24px 0;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
.header-logo {
        margin-right: 76px;
    }

    .header-adr-list {
            flex-direction: row;
            align-items: center;
            gap: 40px;
        }
    .header-adr-list-link {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            padding: 24px 0;
        }
}

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
    line-height: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    fill: #2e2f42;
    stroke-width: 1px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:focus,
.close-btn:hover {
    background-color: #404bbf;
    fill: #fff;
    border: none;
}

.close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.close-mob-menu {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-menu-nav {
    margin-bottom: auto;
    width: 151px;
    height: 200px;
}

.mobile-menu-nav-item {
    font-weight: 700;
     font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    padding-bottom: 40px;
}

.mobile-menu-nav-link {
    color: #2e2f42;
    display: block;
}

.mobile-menu-adr {
    display: block;
    margin-bottom: 48px;
}

.mobile-menu-adr-item {
    padding-bottom: 24px;
}

.mobile-menu-adr-item-link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.cur {
    color: #4d5ae5;
}

.social {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.soc-netw {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-netw:hover,
.soc-netw:focus {
    background-color: #404bbf;
}

.icon-soc {
    display: flex;
    align-items: center;
    justify-items: center;
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    } }

/* section hero */

.hero {
    background: #2e2f42;
    padding: 72px 0;
    max-width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                      image-set(url(../images/retina/ppl-of-mob-1x.jpg) 1x,
                                url(../images/retina/ppl-of-mob-2x.jpg) 2x);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 216px;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    margin: 72px auto auto;
    cursor: pointer;
    display: block;
    align-items: center;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .hero {
        padding: 112px 0px;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            image-set(url(../images/retina/ppl-of-tablet-1x.jpg) 1x,
                      url(../images/retina/ppl-of-tablet-2x.jpg) 2x);
    }

    .hero-text {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }

    .hero-btn {
        margin-top: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0px;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            image-set(url(../images/retina/people-office-1x.jpg) 1x,
                      url(../images/retina/people-office-2x.jpg) 2x);
    }

    .hero-btn {
        margin-top: 48px;
    }
}

/* Advantages */

.text-icons {
    display: none;
}

.text {
    padding: 96px 0;
}

.noname-container {
    display: flex;
    margin: 0 auto;
}

.text-items {
 display: flex;
 flex-wrap: wrap;
 gap: 72px;       
}

.text-subtitle {
margin-bottom: 8px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.text-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .text-subtitle {
        text-align: start;
    }

    .text-items {
        column-gap: 24px;
        row-gap: 72px;
    }

    .text-items-list {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
   
    .text {
            padding: 120px 0;
        }
   
    .text-items-list {
        flex-basis: calc((100% - 72px) / 4);
    }

    .text-icons {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }

    .text-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .text-items {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .text-desc {
        font-weight: 400;
    }
}

/* team */

.team {
    background-color: #f4f4fd;
    align-items: center;
    padding: 96px 0;
}

.team-caption {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 72px;
    justify-content: center;
}

.team-img {
    display: block;
}

.team-list-people {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item {
    padding: 32px 0;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
    text-align: center;
    margin-bottom: 8px;
}

.team-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.social {
display: flex;
gap: 24px;
margin-top: 8px;
align-items: center;
justify-content: center;
}

.social:focus,
.social:hover {
    background-color: #404bbf;
}

.icon-soc {
    fill: #f4f4fd;
}

.soc-netw {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-wrap: wrap;
        row-gap: 24px;
        column-gap: 64px;
        justify-content: center;
    }
}

@media screen and (min-width: 1158px) {
    
    .team {
    padding: 120px 0;
        }

    .team-list {
    gap: 24px;
    }

    .team-list-people {
    flex-basis: calc((100% - 72px) / 4);
    }
}

/* portfolio */

.portfolio {
padding: 96px 0;
}

.portfolio-caption {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    background-color: #FFFFFF;
    column-gap: 24px;
}

.portfolio-list-item {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-box {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.txt-block {
    display: none;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-list-item {
        width: calc((100% - 24px) / 2);
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio {
        padding: 120px 0;
    }

    .portfolio-list {
        row-gap: 48px;
    }

    .portfolio-list-item {
    box-shadow: none;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .portfolio-list-item:hover .txt-block {
        transform: translateY(0%);
    }

    .portfolio-list-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }

   .portfolio-wrapper {
       position: relative;
       overflow: hidden;
   }

    .txt-block {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            background-color: #4d5ae5;
            color: #f4f4fd;
            padding: 40px 32px;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/* footer */

.footer {
    background: #2e2f42;
    padding: 96px 0;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-color-footer {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    text-align: left;
}

.ft-sect {
    display: block;
    text-align: center;
}

.block-soc {
    margin: 72px 0;
}

.text-soc {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.ft-item {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.ft-icon {
    height: 40px;
}

.ft-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ft-img:hover,
.ft-img:focus {
    background-color: #31d0aa;
}

.icon-soc {
    display: flex;
    align-items: center;
    justify-items: center;
    fill: #f4f4fd;
}

.sectn-box {
    max-width: 100%;
}

.lbl-mail {
    border: 1px solid #fff;
    color: #ffffff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    outline: transparent;
    padding-left: 16px;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.lbl-mail placeholder {
    color: #ffffff;
}

.lbl-mail:focus {
    background-color: #31d0aa;
}

.type-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    border: none;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 16px auto 0;
}

.type-btn:focus,
.type-btn:hover {
    background-color: #31d0aa;
    fill: #fff;
}

.icon-send {
    fill: #fff;
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .ft-sect {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        width: 584px;
    }

    .sectn-box {
        flex-direction: row;
        gap: 24px;
        text-align: left;
    }

    .sub-div {
        text-align: left;
    }

    .form-sub {
        display: flex;
        gap: 24px;
    }

    .lbl-mail {
        width: 264px;
    }

    .type-btn {
        margin: 0;
    }

    .block-soc {
        margin: 0;
    }
}

@media screen and (min-width: 1158px) {
    .ft-sect {
        width: 100%;
        gap: unset;
    }

    .block-soc {
        margin: 0 80px 0 120px;
    }

    .form-sub::placeholder {
        opacity: 1;
    }

    .footer {
        padding: 100px 0;
    }
}

/* backdrop */

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 99999;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    gap: 8px;
    width: 288px;
    border-radius: 4px;
    padding: 72px 16px 24px 16px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: auto;
    }

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%) scale(1.5);
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
    line-height: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    fill: #2e2f42;
    stroke-width: 1px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:focus,
.close-btn:hover {
    background-color: #404bbf;
    fill: #fff;
    border: none;
}

.close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-cont-block {
    position: relative;
    margin-bottom: 8px;
}

.modal-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-cont-input-cont {
    position: relative;
    margin-bottom: 16px;
}

.modal-cont-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 256px;
    height: 40px;
    font-family: inherit;
    font-size: 16px;
    outline: none;
    padding-left: 38px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-cont-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-cont-input:focus {
    border: 1px solid #4d5ae5;
}

.modal-form-item {
    position: absolute;
    top: 50%;
    left: 16px;
    cursor: pointer;
    stroke: #2e2f42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-cont-input:focus+.modal-form-item {
    fill: #4d5ae5;
}

.custom-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    fill: transparent;
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox {
    margin-bottom: 24px;
}

.label-checkbox {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    gap: 4px;
}

.label-checkbox a {
    text-decoration: underline;
    color: #4d5ae5;
}

.checkbox:checked+.label-checkbox .custom-checkbox {
    background-color: #404bbf;
    border: transparent;
    fill: #f4f4fd;
}

.cont-user-text {
    margin-bottom: 16px;
    display: block;
}

.user-comment {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    font-weight: 400;
    width: 100%;
    height: 120px;
    resize: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment:focus {
    outline: transparent;
    border: 1px solid #404bbf;
    border-color: #4D5AE5;
}

.user-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.policy {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
}

.modal-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    margin: 24px auto;
    cursor: pointer;
    display: block;
    align-items: center;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }

    .modal-cont-input {
        width: 360px;
    }

    .user-comment {
        width: 360px;
    }
}
